@import "tailwindcss";
@import "@nuxt/ui";
@import "./felix-atelier.css";
@import "./felix-fiche.css";

@theme static {
  --font-sans: 'Space Grotesk', sans-serif;

  /* Felix Cyan palette */
  --color-felix-50: #effbff;
  --color-felix-100: #def6ff;
  --color-felix-200: #b6edff;
  --color-felix-300: #75e0ff;
  --color-felix-400: #0db9f2;
  --color-felix-500: #0da3d9;
  --color-felix-600: #0b83b0;
  --color-felix-700: #0f698e;
  --color-felix-800: #145875;
  --color-felix-900: #164962;
  --color-felix-950: #0a2f42;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

